/* .content_bg-type_privacy-policy {
  background: url('../../../../assets/images/content/content-bg-left.svg') left 810% / 50% no-repeat,
              url('../../../../assets/images/content/content-bg-right.svg') right -698% / 50% no-repeat;
}

@media screen and (max-width: 2880px) {
  .content_bg-type_privacy-policy {
    background: url('../../../../assets/images/content/content-bg-left.svg') left 198% / 50% no-repeat,
                url('../../../../assets/images/content/content-bg-right.svg') right -100% / 50% no-repeat;
  }
} */

@media screen and (max-width: 1920px) {
  .content_bg-type_privacy-policy {
    background: url('../../../../assets/images/content/content-bg-left.svg') left -50% / 50% no-repeat,
                url('../../../../assets/images/content/content-bg-right.svg') right 158% / 50% no-repeat;
  }
}

@media screen and (max-width: 1279px) {
  .content_bg-type_privacy-policy {
    background: url('../../../../assets/images/content/content-bg-left.svg') left -5% / 50% no-repeat,
                url('../../../../assets/images/content/content-bg-right.svg') right 103% / 50% no-repeat;
  }
}

@media screen and (max-width: 767px) {
  .content_bg-type_privacy-policy {
    background: url('../../../../assets/images/content/content-bg-left.svg') left 1% / 50% no-repeat,
                url('../../../../assets/images/content/content-bg-right.svg') right 27% / 50% no-repeat,
                url('../../../../assets/images/content/content-bg-left.svg') left 53% / 50% no-repeat,
                url('../../../../assets/images/content/content-bg-right.svg') right 79% / 50% no-repeat,
                url('../../../../assets/images/content/content-bg-left.svg') left 105% / 50% no-repeat;
  }
}