.button-appointment__wrapper {
  background: image-set(
    url("../../../../assets/images/button-appointment/saucer@1x.webp") type("image/webp") 1x,
    url("../../../../assets/images/button-appointment/saucer@2x.webp") type("image/webp") 2x,
    url("../../../../assets/images/button-appointment/saucer@1x.png") type("image/png") 1x,
    url("../../../../assets/images/button-appointment/saucer@2x.png") type("image/png") 2x
  ) center / 100% no-repeat;
  border-radius: 50%;
  height: 70%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}