.noscript {
  align-items: center;
  background: var(--secondary-bg-color);  
  box-sizing: border-box;
  display: flex;
  justify-content: center;  
  width: 100vw;
  padding: 20px;
  flex-direction: column;
}

.noscript p {
  border-radius: 20px;
  border: 1px solid red;
  box-sizing: border-box;
  color: var(--primary-font-color);
  font: var(--primary-font-size-xxl) var(--primary-font-bold);
  margin: 0;
  padding: 50px;
}

@media screen and (max-width: 767px) {
  .noscript::before {
    content: '';
    display: block;
    height: 103px;
    width: 100%;
  }
}