.root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .root:has(.header__menu-input:checked) {
    overflow: hidden;
  }
}