:root {
  --primary-font-regular: 'Philosopher-Regular', 'Calibri', sans-serif;
  --primary-font-bold: 'Philosopher-Bold', 'Calibri', sans-serif;
  --secondary-font-light: 'Montserrat-Light', 'Arial', sans-serif;
  --secondary-font-regular: 'Montserrat-Regular', 'Arial', sans-serif;
  --secondary-font-bold: 'Montserrat-Bold', 'Arial', sans-serif;
  --primary-font-color: #163B21;
  --primary-bg-color: #FFF;
  --secondary-bg-color: #F6F6F6;
  --hover-color: #8CE35C;
  --primary-font-size-xs: 14px;
  --primary-font-size-s: 16px;
  --primary-font-size-m: 20px;
  --primary-font-size-l: 24px;
}