:root {
  --primary-font-regular: 'Philosopher-Regular', 'Calibri', sans-serif;
  --primary-font-bold: 'Philosopher-Bold', 'Calibri', sans-serif;
  --secondary-font-light: 'Montserrat-Light', 'Arial', sans-serif;
  --secondary-font-regular: 'Montserrat-Regular', 'Arial', sans-serif;
  --secondary-font-bold: 'Montserrat-Bold', 'Arial', sans-serif;
  --primary-font-color: #163b21;
  --primary-bg-color: #FFF;
  --secondary-bg-color: #c1c8d2;
  --hover-color: #FFF;
  --primary-font-size-s: 18px;
  --primary-font-size-m: 20px;
  --primary-font-size-l: 22px;
  --primary-font-size-xl: 24px;
  --secondary-font-size-xxs: 12px;
  --secondary-font-size-xs: 13px;
  --secondary-font-size-s: 14px;
}