.information__text-wrap {
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  padding-top: 0;
}

@media screen and (max-width: 1279px) {
  .information__text-wrap {
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .information__text-wrap {
    row-gap: 5px;
  }
}