.information__text-wrap {
  display: flex;
}

@media screen and (max-width: 1279px) {
  .information__text-wrap {
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .information__text-wrap {
    row-gap: 5px;
  }
}