.menu__link {
  border-radius: 20px;
  border: 2px solid var(--primary-font-color);
  box-sizing: border-box;
  color: inherit;
  display: block;
  padding: 10px 24px;
  text-decoration: none;
  transition: border .3s ease-out;
  white-space: nowrap;
}

.menu__link:hover {
  border: 2px solid var(--hover-color);
}

@media screen and (max-width: 1279px) {
  .menu__link {
    padding: 8px 20px;
  }
}

@media screen and (max-width: 900px) {
  .menu__link {
    padding: 5px 10px;
  }
}