.contact-section__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 1279px) {
  .contact-section__container {    
    gap: 30px;
  }
}