.intro__slide {
  border-radius: 20px;
  height: 0;
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  flex: 1 0 100%
}

@media screen and (max-width: 767px) {
  .intro__slide {
    padding-bottom: 108%;
  }
}