.header__menu {
  color: var(--primary-font-color);
  font: var(--primary-font-size-m) var(--primary-font-bold);
  text-transform: uppercase;
  max-width: 700px;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .header__menu {
    font-size: var(--primary-font-size-s);
  }
}

@media screen and (max-width: 900px) {
  .header__menu {
    font-size: var(--primary-font-size-xs);
  }
}