.information__text {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows .3s;
}

@media screen and (max-width: 767px) {
  .information__text {
    align-self: center;
    max-width: 380px;
  }
}