.services-intro__image-wrap {
  position: relative;
  width: 80%;
}

.services-intro__image-wrap::after {
  background: var(--primary-font-color);
  border-radius: 20px;
  content: '';
  display: block;
  inset: 0;
  position: absolute;
  transform: translate(7.5px, 7.5px);
}

@media screen and (max-width: 1279px) {
  .services-intro__image-wrap {
    width: 90%;
  }
}