.social__link {
  display: block;
  border-radius: 50%;
  border: 1px solid var(--primary-font-color);
  overflow: hidden;
  transition: border-color .3s ease-out;
}

@media (hover: hover) {
  .social__link:hover {
    border-color: var(--primary-hover-color);
  }
}

@media (hover: none) {
  .social__link:active {
    border-color: var(--primary-hover-color);
  }
}