.social__link {
  display: block;
  border-radius: 50%;
  border: 1px solid var(--primary-font-color);
  overflow: hidden;
  transition: border-color .3s ease-out;
}

.social__link:hover {
  border-color: var(--primary-hover-color);
}

@media screen and (max-width: 1279px) {
  .social__link:hover {
    border-color: var(--primary-font-color);
  }
}