.contact-section__text-content {
  font-size: var(--secondary-font-size-xxl);
}

@media screen and (max-width: 767px) {
  .contact-section__text-content {
    align-self: end;
    font-size: var(--secondary-font-size-m);
  }
}