.services {
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  font: var(--secondary-font-size-l) var(--secondary-font-regular);
  gap: 40px;
  position: relative;
  scroll-margin-top: 150px;
}

@media screen and (max-width: 1279px) {
  .services {
    font-size: var(--secondary-font-size-m);
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .services {
    font-size: var(--secondary-font-size-s);
  }
}