.header__container {
  display: flex;
  max-width: 1780px;
  width: 100%;
}

@media screen and (max-width: 1919px) {
  .header__container {
    width: 92.71%;
  }
}

@media screen and (max-width: 1279px) {
  .header__container {
    flex-wrap: wrap;
    row-gap: 10px;
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    flex-flow: column nowrap;
    gap: 5px 0;
    position: relative;
  }
}