.header__column {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}

.header__column:first-child {
  justify-content: start;
}

.header__column:last-child {
  justify-content: end;
}