@media screen and (max-width: 767px) {
  .header__menu-item {
    border-bottom: 1px solid var(--primary-font-color);
    padding: 14px 0 13px;
    text-align: center;
  }

  .header__menu-item:first-child {
    padding-top: 0;
  }

  .header__menu-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}