.button-appointment {
  border-radius: 50%;
  bottom: 2%;
  color: var(--secondary-font-color);
  display: block;
  font: var(--primary-font-size-xs) var(--primary-font-bold);
  height: 180px;
  overflow: hidden;
  position: fixed;
  right: 1%;
  text-decoration: none;
  text-transform: uppercase;
  width: 180px;
  z-index: 100;
}

@media screen and (max-width: 1279px) {
  .button-appointment {
    font-size: var(--primary-font-size-xxs);
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 767px) {
  .button-appointment {
    font-size: var(--primary-font-size-xxxs);
    height: 120px;
    width: 120px;
  }
}