.button-appointment {
  align-self: end;
  bottom: 0;
  margin-right: 70px;
  padding-bottom: 70px;
  position: sticky;
  width: 130px;
  z-index: 100;
}

@media screen and (max-width: 1279px) {
  .button-appointment {
    margin-right: 50px;
    padding-bottom: 50px;
    width: 110px;
  }
}

@media screen and (max-width: 767px) {
  .button-appointment {
    margin-right: 25px;
    width: 90px;
  }
}