.footer__link {
  color: inherit;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__link::before {
  background: var(--hover-color);
  bottom: 0;
  content: '';
  height: 1px;
  position: absolute;
  right: 0;
  transition: width .3s ease-out;
  width: 0;
}

.footer__link:hover::before {
  left: 0;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .footer__link:hover::before {
    left: 100%;
    width: 0;
  }
}