.footer__link {
  color: inherit;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__link::before {
  background: var(--primary-hover-color);
  bottom: 0;
  content: '';
  height: 1px;
  position: absolute;
  right: 0;
  transition: width .3s ease-out;
  width: 0;
}

@media (hover: hover) {
  .footer__link:hover::before {
    left: 0;
    width: 100%;
  }
}

@media (hover: none) {
  .footer__link:active::before {
    left: 0;
    width: 100%;
  }
}