.intro {
  align-items: center;
  color: var(--secondary-font-color);
  display: flex;
  flex-direction: column;
  font: var(--secondary-font-size-xl) var(--secondary-font-regular);
}

@media screen and (max-width: 1279px) {
  .intro {
    font-size: var(--secondary-font-size-m);
  }
}