.logo {
  display: block;
}

@media screen and (max-width: 1279px) {
  .logo {
    height: 60px;
    width: 188px;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    height: 50px;
    width: 157px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    height: 45px;
    width: 141px;
  }
}