.about {
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--primary-font-color);
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  font: var(--secondary-font-size-l) var(--secondary-font-regular);
  gap: 40px;
  padding: 40px;
}

@media screen and (max-width: 1279px) {
  .about {
    gap: 30px;
    padding: 30px;
  }
}