.about {
  align-items: center;
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  font: var(--secondary-font-size-l) var(--secondary-font-regular);
  margin-bottom: 70px;
}

@media screen and (max-width: 1279px) {
  .about {
    margin-bottom: 50px;
  }
}

@media screen and (max-width:767px) {
  .about {
    font-size: var(--secondary-font-size-m);
  }
}