.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  padding-top: 70px;
}

@media screen and (max-width: 1279px) {
  .content {
    padding-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding-top: 0;
  }

  .content::before {
    content: '';
    height: 103px;
    margin-bottom: 50px;
    width: 100%;
  }
}