.content {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 70px 0;
}

@media screen and (max-width: 1279px) {
  .content {
    gap: 50px;
    padding: 50px 0;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding: 0 0 30px;
  }

  .content::before {
    content: '';
    height: 103px;
    width: 100%;
  }
}