.content {
  align-items: center;
  background: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
}

/* .content::before {
  content: '';
  height: 95px;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .content::before {
    height: 112px;
  }
}

@media screen and (max-width: 767px) {
  .content::before {
    height: 103px;
  }
} */