.contacts {
  align-items: center;
  color: var(--primary-font-color);
  display: flex;
  font: var(--primary-font-size-xl) var(--primary-font-regular);
  gap: 20px;
}

@media screen and (max-width: 1279px) {
  .contacts {
    font-size: var(--primary-font-size-l);
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    font-size: var(--primary-font-size-m);
    gap: 10px;
  }
}