.team {
  align-items: center;
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  font: var(--secondary-font-size-l) var(--secondary-font-regular);
}

@media screen and (max-width: 1279px) {
  .team {
    font-size: var(--secondary-font-size-m);
  }
}

@media screen and (max-width: 767px) {
  .team {
    font-size: var(--secondary-font-size-s);
  }
}
