.button-link {
  border: none;
  color: var(--primary-font-color);
  cursor: pointer;
  display: block;
  font: var(--primary-font-size-m) var(--primary-font-bold);
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
}     