.services-intro__subblock {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media screen and (max-width: 1279px) {
  .services-intro__subblock {
    gap: 30px;
  }

  .services-intro__subblock:last-child {
    gap: 40px;
  }
}

@media screen and (max-width:767px) {
  .services-intro__subblock:last-child {
    gap: 30px;
  }
}