.container {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1780px;
  width: 100%;
}

@media screen and (max-width: 1919px) {
  .container {
    width: 92.71%;
  }
}

@media screen and (max-width: 1279px) {
  .container {
    gap: 30px;
    width: 95%;
  }
}