.header__menu-link {
  border-radius: 20px;
  border: 1px solid var(--primary-font-color);
  box-sizing: border-box;
  color: inherit;
  display: block;
  padding: 8px 20px;
  text-decoration: none;
  transition: border .3s ease-out;
  white-space: nowrap;
}

@media (hover: hover) {
  .header__menu-link:hover {
    border-color: var(--primary-hover-color);
  }
}

@media (hover: none) {
  .header__menu-link:active {
    border-color: var(--primary-hover-color);
  }
}

@media screen and (max-width: 1279px) {
  .header__menu-link {
    padding: 5px 15px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu-link {
    border: none;
    display: inline-block;
    padding: 0;
  }

  .header__menu-link:hover {
    border: none;
  }
}