.team__slide {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: 420px;
  padding: 40px 0;
  width: 80%;
}

@media screen and (max-width: 1279px) {
  .team__slide {
    gap: 10px;
    max-width: 320px;
    padding: 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .team__slide {
    max-width: 250px;
    padding: 20px 0 10px;
    width: 92%;
  }
}