.contact-section {
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  font: var(--secondary-font-size-l) var(--secondary-font-regular);
  gap: 40px;
}

@media screen and (max-width: 1279px) {
  .contact-section {
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .contact-section {
    gap: 20px;
    font-size: var(--secondary-font-size-m);
  }
}