.footer__container {
  display: flex;
  flex-direction: column;
  max-width: 1780px;
  width: 100%;
}

@media screen and (max-width: 1919px) {
  .footer__container {
    width: 92.71%;
  }
}

@media screen and (max-width: 1279px) {
  .footer__container {
    width: 95%;
  }
}