.services__container {
  background: var(--primary-bg-color);
  border-radius: 20px;
  border: 1px solid var(--primary-font-color);
  box-shadow: var(--primary-font-color) 0 7px 29px 0;
  box-sizing: border-box;
  padding: 22px 60px 40px;
}

@media screen and (max-width: 1279px) {
  .services__container {
    padding: 12px 30px 30px;
  }
}

@media screen and (max-width: 767px) {
  .services__container {
    padding: 15px;
  }
}