.footer__row {
  align-items: center;
  border-bottom: 1px solid var(--primary-font-color);
  display: flex;
  gap: 10px;
  padding: 15px 0;
  width: 100%;
}

.footer__row:first-child {
  padding-top: 0;
}

.footer__row:last-child {
  border: none;
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .footer__row {
    padding: 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__row {
    flex-direction: column;
    gap: 5px;
  }
}