.contacts__link_type_image {
  border-radius: 50%;
  border: 1px solid var(--primary-font-color);
  overflow: hidden;
  transition:  border-color .3s ease-out;
}

.contacts__link_type_image:hover {
  border-color: var(--hover-color);
}

@media screen and (max-width: 1279px) {
  .contacts__link_type_image:hover {
    border-color: var(--primary-font-color);
  }
}