.contacts__link_type_phone {
  letter-spacing: 1px;
  position: relative;
}

.contacts__link_type_phone::before {
  background: var(--primary-hover-color);
  bottom: 0;
  content: '';
  height: 1px;
  position: absolute;
  right: 0;
  transition: width .3s ease-out;
  width: 0;
}

.contacts__link_type_phone:hover::before {
  left: 0;
  width: 100%;
}

@media (hover: hover) {
  .contacts__link_type_phone:hover::before {
    left: 0;
    width: 100%;
  }
}

@media (hover: none) {
  .contacts__link_type_phone:active::before {
    left: 0;
    width: 100%;
  }
}