.contact-section__column-social {
  display: flex;
  flex: 1 0 calc(35% - 30px);
  justify-content: end;
}

@media screen and (max-width: 1279px) {
  .contact-section__column-social {
    flex-basis: auto;
    justify-content: center;
  }
}