.intro__slide-wrap {
  display: flex;
  flex-direction: column;
  max-width: 435px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1279px) {
  .intro__slide-wrap {
    max-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .intro__slide-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    inset: auto 0 9%;
    max-width: none;
    padding: 0 5%;
    transform: translateY(0);
  }
}