.contacts__image {
  display: block;
  fill: var(--primary-font-color);
  height: 44px;
  width: 44px;
}

@media screen and (max-width: 1279px) {
  .contacts__image {
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__image {
    height: 36px;
    width: 36px;
  }
}