.agreement__numbered-item {
  display: block;
  margin-bottom: 30px;
}

.agreement__numbered-item:last-child {
  margin-bottom: 0;
}

.agreement__numbered-item::before {
  counter-increment: numbered; 
  content: counter(numbered) ". ";
}

@media screen and (max-width: 1279px) {
  .agreement__numbered-item {
    margin-bottom: 15px;
  }
}