.intro__slide-text {
  margin: 0 0 40px;
}

@media screen and (max-width: 1279px) {
  .intro__slide-text {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .intro__slide-text {
    max-width: 480px;
  }
}