.title {
  align-self: center;
  color: var(--primary-font-color);
  font: var(--primary-font-size-xxxl) var(--primary-font-regular);
  margin: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 1279px) {
  .title {
    font-size: var(--primary-font-size-xxl);
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: var(--primary-font-size-xl);
  }
}