.header {
  background: var(--secondary-bg-color);
  color: var(--primary-font-color);
  display: flex;
  font: var(--primary-font-size-s) var(--primary-font-bold);
  justify-content: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 50;  
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    font-size: var(--primary-font-size-s);
    inset: 0 0 calc(100% - 103px);
    padding: 5px 0;
    transition: bottom .3s;
  }

  .header:has(.header__menu-input:checked) {
    bottom: 0;
  }

  .header:has(.header__menu-input:checked) .header__menu-list {
    display: flex;
    height: auto;
    opacity: 1;
    overflow: auto;
  }
}