.services-intro__row-text-wrap {
  align-items: center;
  background: var(--primary-bg-color);
  border-radius: 20px;
  border: 1px solid var(--primary-font-color);
  box-shadow: var(--primary-font-color) 0 7px 29px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 0 calc(70% - 30px);
  gap: 30px;
  justify-content: center;
  max-width: calc(70% - 30px);
  padding: 20px;
  transition: transform .3s ease-out;
}

@media screen and (max-width: 1279px) {
  .services-intro__row-text-wrap {
    flex: 1 0 calc(55% - 20px);
    gap: 20px;
    max-width: calc(55% - 20px);
    padding: 15px;
  }
}

@media screen and (max-width: 767px) {
  .services-intro__row-text-wrap {
    border: none;
    box-shadow: none;
    flex: 1 0 100%;
    max-width: none;
    order: 2;
    padding: 0;
  }
}