.questions__column_type_image {
  flex: 1 0 calc(30% - 20px);
}

@media screen and (max-width: 1279px) {
  .questions__column_type_image {
    flex: 1 0 calc(25% - 10px);
  }
}

@media screen and (max-width: 767px) {
  .questions__column_type_image {
    display: none;
  }
}