.information__input {
  position: absolute;
  visibility: hidden;
}

.information__input:checked + .information__label::after {
  transform: rotate(180deg);
}

.information__input:checked + .information__label + .information__text {
  grid-template-rows: 1fr;
}

.information__input:checked + .information__label + .information__text > .information__text-wrap {
  padding-top: 5px;
}